body {
    display: flex;
    justify-content: center;
}

textarea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    height: 175px;
    box-shadow: 3px 3px gray
}

.import, .export{
    height: 32px;
    background-color: white;
    border:1px solid black;
    box-shadow: 3px 3px gray
}

.import {
    margin-bottom: 1rem;
}

hr {
    margin-top: 1rem;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 812px) {
    /* Styles */
        textarea {
            width: 600px;
        }

    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 375px) {
    /* Styles */
        textarea {
            width: 275px;
        }

    }